* {
	margin:  0;
	padding: 0;
}
img {
	width: 100%;
	box-sizing: border-box;
}
.rat {
	position: absolute;
	width: 120px;
	padding: 5px;
}
.rat:focus {
	border: 1px dashed #000;
	outline: none;
}
.zaebal {
	font-size: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	color: red;
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: middle;
}
.ratZaebal {
	width: 100vw;
	height: 100vh;
}